<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Lovebox Display</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <video class="video" autoplay loop>
        <source th:src="${fileUrl}" type="video/mp4">
        <source th:src="${fileUrl}" type="video/webm">
        <source th:src="${fileUrl}" type="video/ogg">
        <p>Your browser doesn't support HTML5 video.</p>
    </video>
</div>
</body>
</html>