<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Lovebox Display</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <iframe title="embedded video" class="video"
            th:src="${fileUrl}"
            allowfullscreen
            sandbox="allow-scripts allow-presentation allow-same-origin"
            allow="autoplay; fullscreen; xr-spatial-tracking; encrypted-media">
    </iframe>
</div>
</body>
</html>